<!-- chart with data from continents -->
<div class="chart">
    <canvas id="usersChart" width="100" height="200" ></canvas>
</div>

<script>
    const usersChartCanvas = document.getElementById('usersChart');
    if (usersChartCanvas) {
        const ctx2 = usersChartCanvas.getContext('2d');
        const sortedData = <%- JSON.stringify(users.rows.sort((a, b) => a.metricValues[0].value - b.metricValues[0].value)) %>;

        new Chart(ctx2, {
            type: 'line', 
            data: {
                labels: sortedData.map(row => row.dimensionValues[0].value),
                datasets: [{
                    label: 'User data',
                    data: sortedData.map(row => row.metricValues[0].value),
                    borderWidth: 2, // Adjust border width
                    fill: true, // Ensure the line is not filled
                    borderColor: '#EC4E04', // Customize the line color
                    backgroundColor: 'rgba(227, 227, 227, 0.43)', // Customize the fill color
                    tension: 0.5 // Customize the line tension (curviness)
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false, // Allow the chart to resize according to the canvas size
                scales: {
                    x: {
                        grid: {
                            display: false // Remove grid lines on the x-axis
                        }
                    },
                    y: {
                        grid: {
                            display: false // Remove grid lines on the y-axis
                        }
                    }
                }
            }
        });
    }
</script>