<header>
  <div>
    <img src="unc-inc-logo.png" alt="UncInc">
    <details class="project-name">
      <summary>Projecten</summary>
      <nav>
      <a href="grootemuseum.ejs">Grootemuseum</a>
      <a href="HVC.ejs">HVC</a></summary>
      <a href="veiligheidnl.ejs">Veiligheid NL</a>
      </nav>
    </details>

    <details class="team-name">
      <summary>Teams</summary>
      <nav>
      <a href="#"">Gecko</a>
      <a href="#">Cheetah</a></summary>
      <a href="#">Pelican</a>
      </nav>
    </details>
  </div>

  <div class="menu-open">
    <button class="hamburger-button">
      <span></span><span></span><span></span>
      <p>Menu</p>
    </button>

    <ul class="header-list-left">
      <li><a href="/">Dashboard</a></li>
      <li><a href="/employees">Employees</a></li>
      <li><p>User</p></li>
      <li><p>Settings</p></li>
      <li><span>Theme</span></li>
      <li><button>Darkmode</button></li>
      <li><button>Lightmode</button></li>
    </ul>
  </div> 
</header>
