<nav class="navigatie">
    <script src="/script.js" defer></script>
      <ul>
        <div class="mobile">
        <%- include('./logo') %>
          <li><div class="hamburger"> <span class="bar"></span><span class="bar"></span><span class="bar"></span></div></li>
        </div>

        <div class="desktop">
        <li><a href="/" 
            <% if (current == '/') { %> class="active active-1" <% } %>>
              <p>Dashboard</p>
            </a></li>

        <li><a href="#" 
          <% if (current == '/GA') { %> class="active active-2" <% } %>>
              <p>Google analytics</p>
          </a></li>
  
        <li><a href="#"
          <% if (current == '/LA') { %> class="active active-3" <% } %>>
              <p>Linkedin analytics</p>
          </a></li>
  
        <li><a href="#"
          <% if (current == '/HA') { %> class="active active-4" <% } %>>
              <p>Hotjar analytics</p>
  
            </a></li>

        <li><a href="CV"
            <% if (current == '/CV') { %> class="active active-5" <% } %>>
        
                <p>Customize view</p>
        
            </a></li></div>
      </ul>
      
    </nav>