<%- include('./partials/head') %>
<main class="i">
    <div>
        <%- include('./partials/logo') %>
        <h1>Welcome back!</h1>
    
        <form class="login">
            <input type="text" placeholder="Username" id="username" name="username" required/>
            <input type="text" placeholder="Password" id="password" name="password" required/>

            <a href="/preface"><p> sign in </p></a>
            <a href="#"><p> Forgot your password? </p></a>
        </form> 
    </div>
</main>