<%- include('./partials/head') %>

<main>
    <header>
        <%- include('./partials/logo') %>
        <h1>Your Data insight just a click away</h1>
    </header>

    <section>
              <fieldset id="container">
                
                <div class="block1" id="block1">
                    <h2>Linkedin</h2>

                    <input type="radio" id="google" name="drone" value="google" checked />
                    <label for="google">Google</label>

                </div>

                <div class="block2" id="block2">
                    <h3>Linkedin</h3>

                    <input type="radio" id="linkedin" name="drone" value="linkedin" />
                    <label for="linkedin">Linkedin</label>

                </div>

                <div class="block3" id="block3"></div>
                    <h4>Hotjar</h4>

                        <input type="radio" id="hotjar" name="drone" value="hotjar" />
                        <label for="hotjar">Hotjar</label>

               <div class="block4" id="block4"></div>
                
              </fieldset>

    </section>
</main>