@font-face {
    font-family: "Nunito";
    src: url(/Nunito-Black.ttf);
    font-weight: 160;
  }

@font-face {
    font-family: "Nunito";
    src: url(/Nunito-Bold.ttf);
    font-weight: 140;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url(/Nunito-SemiBold.ttf);
    font-weight: 120;
  }

  @font-face {
    font-family: "Nunito";
    src: url(/Nunito-Regular.ttf);
    font-weight: 100;
  }

  @font-face {
    font-family: "Nunito";
    src: url(/Nunito-Light.ttf);
    font-weight: 80;
  }

  @font-face {
    font-family: "Nunito";
    src: url(/Nunito-extraLight.ttf);
    font-weight: 60;
  }

:root {
    --primary-font: "Nunito", sans-serif;
    /*--------brandcolours--------- */
    /* the 50 is the main hue, if the number is higher 
    or lower than it's a shadow or a highligth,  */

      --GrannySmithApple-50:#B9FFB7;
      --OrangeCrayola-50:#FF7535;
      --MajorelleBlue-50:#5E43FF;

      --Xiketic: #120B11;
      --RaisinBlack: #302A2F;
      --SonicSilver: #736f72;
      --Snow: #FCF8F7;
    }

* {  margin: 0; padding: 0; box-sizing: border-box; scrollbar-width: none; list-style: none;}
*::-webkit-scrollbar {display: none;}


h1, h2, h3, 
h4, h5, h6 {
  font-family: "Nunito";
  font-weight: 200;
  color: var(--white);
}


h1  {  font-size: 14px;  }
h2  {  font-size: 24px;  }
h3  {  font-size: 24px;  }
h4  {  font-size: 24px;  }
h5  {  font-size: 14px;  }
p   {  font-size: 12px; color: var(--white); font-family: "Nunito"; }
a   {  font-size: 12px; color: var(--white); font-family: "Nunito"; text-decoration: none; cursor: pointer;}
li  {  font-size: 12px; color: var(--white); font-family: "Nunito"; }


main {
    align-items: start;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    width: 100%;
    height: 100dvh;
  }

  header {
    align-items: center;
    justify-content: space-around;
    background-color: var(--Snow);
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;

    > svg {
        width: 4em;
        height: 4em;
    }

    > h1 {
        font-weight: 100;
        padding: 13em 0 0 0;
        width: 4.75em; 
    }
  }

  section {
    display: flex;
    flex-direction: column;
    background-color: var(--GrannySmithApple-50);
    height: 100%;
    width: 70%;
    overflow-y: hidden;

    > form {
        width: 100%;
        height: auto;

        > #container {
            display: grid;
            width: 100%;
            height: 26em;
            margin: 0 auto;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            transition: all 1s ease;

            > .block1, .block2,
              .block3, .block4 {
                width: 100%;
                height: 13em;
                transition: all 0.1s ease;
            }

            .block1 {
                background-color:green;
            }
            .block2 {
                background-color:grey;
            }
            .block3 {
                background-color:blueviolet;
            }
            .block4 {
                background-color:salmon;
            }
        }
       > selection-buttons {
            background-color: var(--OrangeCrayola-50);
       }
    }
  }
