@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "MuseoModerno", sans-serif;
}


:root {
    --background-color: #ffffff;
    --text-color: #140B0B;
    --gecko-color: #9fc798;
    --cheetah-color: #F3EA9C;
    --pelican-color: #A4C8E9;
    --header1-text: 55px;
    --header2-text: 45px;
    --header3-text: 32px;
    --header4-text: 20px;

}

body::before {
    content: 'UncInc';
    display: grid;
    place-content: center;
    position: fixed;
    inset: 0;
    background-color: var(--background-color);
    opacity: 1;
    pointer-events: none;
    color: var(--text-color);
    font-family: 'MuseoModerno', sans-serif;
    font-size: var(--header1-text);
    z-index: 6;
    animation: fade-out 1.25s forwards;
    animation-delay: .75s;
  }
 
  @keyframes fade-out {
    to {
      opacity: 0;
      z-index: 1;
    }
  }


header div:nth-of-type(1) {
	display:flex;
	gap:3em;
    font-size: 2.5vw;
    justify-content: start;
    padding: .5em 1em;
    align-items: center;

    & img{
        height: 5vw;
    }

}

details {
	position:relative;
    cursor: pointer;
    

    & a {
       text-decoration: none;

    
       &:hover{
        cursor: pointer;
       transform: scale(1.03);
       transition: .2s ease-in-out;
    
       }

    }
}


.project-name a{
    color: var(--background-color);
}

.team-name a:nth-of-type(1){
    color: var(--gecko-color);
}

.team-name a:nth-of-type(2){
    color: var(--cheetah-color);
}
.team-name a:nth-of-type(3){
    color: var(--pelican-color);
}

nav {
	position:absolute;
	top:100%;
	left:0;
	display:grid;
    background-color: #333;
    padding: .5em 1em;
}

details nav {
	left: unset;
    right: 0;
}

.graphbox{
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    z-index: auto;
   
}

@media (width < 800px) {
    .graphbox{
        grid-template-columns: 1fr;
    }
}
    

.hamburger-button{
  position: fixed;
display:grid;
grid-template-rows: 1fr min-content;
place-items:center;
background: none;
border: none;
cursor: pointer;
width:3.25em;
aspect-ratio: 1;
z-index: 5;

& p{
  color: var(--text-color);
  font-size: .75rem;
}


& span {
  display: block;
  width:1.3rem;
  height:.15rem;
  transition: .3s;
  grid-area: 1/1;
  background-color: var(--text-color);
  
  &:nth-of-type(1){
    transform: translateY(-.425rem);
  }


  &:nth-of-type(3){
    transform: translateY(.425rem);
  }


}
}

.menu-open{


  &.open span:nth-of-type(1) {


    transform: rotate(45deg);
    background-color: var(--background-color);


  }
  &.open span:nth-of-type(2) {


    transform: scaleX(0);


  }
  &.open span:nth-of-type(3) {


    transform: rotate(-45deg);
    background-color: var(--background-color);


  }
}

.menu-open .header-list-left{
    position: fixed;
    background-color: #333;
    transform: translate(-100%, 0%);
    transition: .5s;
    inset: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:  1;
    padding: 2rem;


    
}
.menu-open.open .header-list-left{
    transform: translate(-68% , 0%);
    
}

.header-list-left a ,p{
    position: relative;
    color: white;
    text-decoration: none;
    float: right;
}


.employee-card{
  display: grid;
  grid-template-columns: 3fr;
  width: 300px;
  height: 200px;

}


.employee-card-details p{
  color: var(--text-color);
}