/*--------pre dashboard page--------- */
/*------------font faces------------- */
@font-face {
    font-family: "Nunito";
    src: url(/Nunito-Black.ttf);
    font-weight: 160;
  }

@font-face {
    font-family: "Nunito";
    src: url(/Nunito-Bold.ttf);
    font-weight: 140;
  }
  
  @font-face {
    font-family: "Nunito";
    src: url(/Nunito-SemiBold.ttf);
    font-weight: 120;
  }

  @font-face {
    font-family: "Nunito";
    src: url(/Nunito-Regular.ttf);
    font-weight: 100;
  }

  @font-face {
    font-family: "Nunito";
    src: url(/Nunito-Light.ttf);
    font-weight: 80;
  }

  @font-face {
    font-family: "Nunito";
    src: url(/Nunito-extraLight.ttf);
    font-weight: 60;
  }

:root {
    --primary-font: "Nunito", sans-serif;
    /*--------brandcolours--------- */
    /* the 50 is the main hue, if the number is higher 
    or lower than it's a shadow or a highligth,  */

      --GrannySmithApple-50:#B9FFB7;
      --OrangeCrayola-50:#FF7535;
      --MajorelleBlue-50:#5E43FF;

      --Xiketic: #120B11;
      --RaisinBlack: #302A2F;
      --SonicSilver: #736f72;
      --Snow: #FCF8F7;
    }


/*------------general styling------------- */
* {  margin: 0; padding: 0; box-sizing: border-box; scrollbar-width: none; list-style: none;}
*::-webkit-scrollbar {display: none;}


h1, h2, h3, 
h4, h5, h6 {
  font-family: "Nunito";
  font-weight: 200;
  color: var(--snow);
}


h1  {  font-size: 20px;  }
h2  {  font-size: 24px;  }
h3  {  font-size: 24px;  }
h4  {  font-size: 24px;  }
h5  {  font-size: 14px;  }
p   {  font-size: 16px; color: var(--white); font-family: "Nunito"; }
a   {  font-size: 16px; color: var(--white); font-family: "Nunito"; text-decoration: none; cursor: pointer;}
li  {  font-size: 16px; color: var(--white); font-family: "Nunito"; }


h2, h3, h4  {  font-weight: 120;  }
label       {  display: none;     }


main {
    align-items: start;
    background-color: var(--Snow);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
  }

/*------------specific styling------------- */
  header {
    align-items: center;
    justify-content: start;
    height: 21.5em;
    width: 100%;
    display: flex;
    flex-direction: column;

    > svg {
        width: 6em;
        height: 6em;
        margin: 2.3em 9em 0 0;
    }

    > h1 {
        font-weight: 120;
        text-align: end;
        width: 9em; 
        margin: 5em 0 0 3.5em;

        background: linear-gradient(90deg, rgba(249,116,57,1) 0%, rgba(142,84,194,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    > a {
        font-weight: 70;
        text-align: end;
        width: 8em;
        margin: 1em 0 0 3.5em;
        position: relative;

        > svg {
          width: 2em;
          height: 2em;
          position: absolute;
          top: -4px;
          right: -40px;
        }
    }
  }

  #container {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    margin: 0 auto;
    padding: 5em 1em 7em 1em;
    gap: 1.25em;
    row-gap: 17em;
    position: relative;

    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header ."
      "header main"
      "footer main"
      "footer .";

      > .block1, .block2,
        .block3 {

          width: 100%;
          height: 20em;
          transition: all 0.1s ease;
          border-radius: 1em;
          z-index: 2;

          background: rgba(227, 227, 227, 0.43);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(13.6px);
          -webkit-backdrop-filter: blur(13.6px);

          h2, h3, h4 {
            width: 100%;
            height: 2em;
            background-color: white;
            border-top-left-radius: .65em;
            border-top-right-radius: .65em;
            padding: .75em 0 0 .5em;
          }
      }

      > .block1 {
        border: .12em solid var(--GrannySmithApple-50);
        grid-area: header;

        h2 {
          border-bottom: .01em solid var(--GrannySmithApple-50);
        }
      }

      > .block2 {
        border: .12em solid var(--OrangeCrayola-50);
        grid-area: main;

        h3 {
          border-bottom: .01em solid var(--OrangeCrayola-50);
        }
      }

      > .block3 {
        border: .12em solid var(--MajorelleBlue-50);
        grid-area: footer;
        margin: -1.15em 0 0 0;

        h4 {
          border-bottom: .01em solid var(--MajorelleBlue-50);
        }
      }

      > .orb-1, .orb-2, .orb-3 {
        filter: blur(0.8452px); 
        opacity: 0.983096; 
        pointer-events: none;
        transform: translate3d(0px, 0px, 0px) scale3d(0.970418, 0.970418, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
        transform-style: preserve-3d;
        position: absolute;
        right: -18px;
        top: 8px;
      }

      > .orb-1 {
        right: -18px;
        top: 8px;
      }
      
      > .orb-2 {
        right: 38px;
        top: 458px;
        transform: scale(0.85);
      }

      > .orb-3 {
        top: 850px;
        transform: scale(0.7);
      }
  }

  footer {
    background-color: var(--RaisinBlack);
    height: 7.5em;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  /*--------------mediaquery's--------------- */
  @media (min-width:450px) {
    header { height: 25em;
     > svg { width: 7.5em; height: 7.5em;
             margin: 2.3em 14em 0 0;}

      > h1 { margin: 3em 0 0 5.5em; font-size: 25px;}
      > a  { font-weight: 80; font-size: 18px; margin: 1em 0 0 8.3em;}
  }
  #container { column-gap: 2em;
    > .orb-1 { right: 22px; top: 40px;
               transform: scale(1.2); }
    > .orb-2 { right: 187px; top: 447px; 
               transform: scale(1.0);}
    > .orb-3 { top: 815px; right: 5px;
               transform: scale(0.85); } 
  }
}
 
@media (min-width:600px) {
  header { height: 23.5em;
   > svg { width: 8em; height: 8em; 
           margin: 3.3em 16em 0 0; }

      > h1 { margin: 3em 0 0 0.5em; font-size: 27.5px; width: 16em;}
      > a  { font-size: 20px; margin: .5em 0 0 11.3em;}
  }
  #container   { column-gap: 4em; row-gap: 16em;
                 padding: 5em 2em 7em 2em;
    > .block3  { margin: -1.75em 0 0 0;}

      > .orb-1 { right: 121px; top: 20px;}
      > .orb-2 { right: 288px; top: 420px; 
                 transform: scale(1.1);}
      > .orb-3 { top: 720px; right: 30px; transform: scale(0.9);} 
  }
}

@media (min-width:750px) {
  header { height: 27em;
    > svg { width: 10em; height: 10em; 
            margin: 3.3em 30em 0 0; }
 
       > h1 { margin: 3em 0 0 0.5em; font-size: 30px; width: 21em;}
       > a  { font-size: 20px; margin: .5em 0 0 20.7em;}
   }
  #container    { column-gap: 7em;
                  padding: 5em 3em 7em 3em;
      > .block3 { margin: -1.75em 0 0 0;}

      > .orb-1 { right: 121px; top: 20px;}
      > .orb-2 { right: 288px; top: 420px; 
                 transform: scale(1.1);}
      > .orb-3 { top: 720px; right: 30px; transform: scale(0.9);} 
}
}



/* the 3 pre-dashboard overview  with the orbs becomes 
   from this mediaquery on a row layout             */
@media (min-width:1000px) {
#container {
  column-gap: 9em; row-gap: 9em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
    "header . footer"
    "header main footer"
    ". main .";}
}